.header {
  background-color: #003580;
  color: #fff;
}

.nav-container {
  width: 80%;
  margin: auto;
}

.main {
  width: 80%;
  margin: 3rem auto;
}

.title {
  font-size: x-large;
  padding-bottom: 1.5rem;
}

.table {
  width: 100%;
  margin: 1rem auto;
  text-align: left;
  border: 1px #868e96 solid;
  border-collapse: collapse;
}

th,
td,
tr {
  border: 2px solid #868e96;
  padding: 0.75rem 0.5rem;
  border-collapse: collapse;
  margin: 0.1rem;
}

.rooms {
  display: flex;
  align-items: center;
  border: none;
  gap: 0.25rem;
}

.table-head {
  background-color: #339af0;
  color: #fff;
}

.payment {
  text-transform: capitalize;
}
