.form {
  display: flex;
  border: 4px solid #febb04;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  padding: 0.3rem 0px;
  transform: translate(0, 100%);
  position: relative;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 30%;
  color: #d3d3d3;
}

.input {
  height: 2.5rem;
  width: 15rem;
  border: none;
  padding: 0 0.25rem;
}

.input:focus {
  outline: none;
}

.daterange {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 40px;
  border: 1px solid black;
}

.btn {
  width: max-content;
  padding: 0.5rem;
  background-color: #0071c2;
  border: none;
  color: #fff;
  cursor: pointer;
}
