.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: larger;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
}

.button {
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid black;
  color: #003580;
  font-weight: 500;
  cursor: pointer;
}
